html, body {
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  border: black 5px solid;
  width: 550px;
  height: 300px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  #pad-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .drum-pad {
      width: 75px;
      height: 75px;
      border: black 1px solid;
      text-align: center;
      font-size: 40px;
      outline: none;
    }
  }

  #display {
    background-color: lightgray;
    padding: 7px;
    font-size: 50px;
    text-align: center;
    width: 250px;
    height: 60px;
  }
}

